*.pyc
include/data/trained_networks/
include/data/learning/
include/data/export
include/data/netw
include/graphics/middle.png
checkpoints/
include/third_party/UCB/data
include/third_party/promp/examples/strike*
include/third_party/promps_python/data/
__pycache__
teleop_gesture_toolbox/os_and_utils/.ipynb_checkpoints/*
