*.pyc
include/data/Trained_network/netw*
include/data/Trained_network/PyMC3*
include/data/learning/
include/data/export
include/data/netw
include/graphics/middle.png
checkpoints/
include/third_party/UCB/data
include/third_party/promp/examples/strike*
include/third_party/promps_python/data/
src/CMakeFiles/*
src/atomic_configure/*
src/catkin_generated/*
src/cmake/*
src/cmake_install.cmake
src/devel/*
src/gtest/*
src/CATKIN_IGNORE
src/CMakeCache.txt
src/CTestConfiguration.ini
src/CTestCustom.cmake
src/CTestTestfile.cmake
src/Makefile
src/catkin/catkin_generated/version/*
