<launch>

    <!--<include file="$(find panda_launch)/launch/start_robot.launch" />-->
    <!--<include file="$(find panda_gazebo)/launch/panda_world.launch" />
    <include file="$(find panda_sim_moveit)/launch/sim_move_group.launch" />-->
    <!--<node pkg="motion_primitives_vanc" name="listener" type="listener.py" output="screen"/>-->
    <include file="$(find relaxed_ik)/launch/relaxed_ik.launch"/>

    <node pkg="motion_primitives_vanc" name="apply_scene_service" type="apply_scene_service.py" output="screen"/>
    <node pkg="motion_primitives_vanc" name="main" type="main.py" output="screen"/>
    <node pkg="motion_primitives_vanc" name="sample_send" type="sample_send.py" output="screen"/>
</launch>
