<launch>
  <!-- TODO -->
  <node pkg="teleop_gesture_toolbox" type="main_sample_thread.py" output="screen"/>
  <node pkg="teleop_gesture_toolbox" type="dynamic_sample_thread.py" output="screen"/>

  <node pkg="teleop_gesture_toolbox" type="leap.py" output="screen"/>

  <!--<node pkg="teleop_gesture_toolbox" type="main2.py" output="screen"/>-->

</launch>
